@import "tailwindcss";

.gradient-text {
    background: linear-gradient(to right, #9747FF, #A657B2, #CC55B2, #C8478A, #D4296D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

* {
    font-family: Inter;
}

@keyframes giggle {
  0%, 100% { transform: rotate(-3deg); }
  50% { transform: rotate(3deg); }
}

.animate-giggle {
  animation: giggle 0.5s ease-in-out infinite;
}